aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.3
django-extensions==3.2.3
djangorestframework==3.14.0
drf-nested-routers==0.93.4
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
types-PyYAML==6.0.12.10
typing_extensions==4.7.1
urllib3==2.0.4
yarl==1.9.2
