# core
Django==4.2.5
djangorestframework==3.14.0
drf-nested-routers==0.93.4
django-htmx==1.16.0
python-dotenv==1.0.0

# scripts
aiohttp==3.8.5
PyYAML==6.0.1
Faker==19.3.0

# dev tools
pre-commit==3.3.3
djlint==1.34.0
