aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
cfgv==3.3.1
charset-normalizer==3.2.0
distlib==0.3.7
Django==4.2.4
django-extensions==3.2.3
djangorestframework==3.14.0
drf-nested-routers==0.93.4
filelock==3.12.2
frozenlist==1.4.0
identify==2.5.26
idna==3.4
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
platformdirs==3.10.0
pre-commit==3.3.3
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.2
yarl==1.9.2
